@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --iconbrowser-controlslight: rgba(60, 64, 67, 1);
    --iconurl-controlsdisabledlight: rgba(186, 188, 190, 1);
    --maincolor: rgba(90, 55, 41, 1);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
